<div class="list">
  <div class="row">
    <label class="col item item-input item-stacked-label">
      <span class="input-label">Credit Card Number</span>
      <input type="text" placeholder="Required">
    </label>
  </div>
  <div class="row">
    <label class="col item item-input item-stacked-label">
      <span class="input-label">Name on Card</span>
      <input type="text" placeholder="Required">
    </label>
  </div>
  <div class="row">
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">Expiration</span>
      <input type="text" placeholder="mm/yy">
    </label>
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">CCV</span>
      <input type="text" placeholder="Required">
    </label>
  </div>
  <div class="row">
    <a class="button button-block button-positive">
      <span>Scan credit card with camera</span>
    </a>
  </div>
</div>
