<ion-view class="food-content-view" cache-view="false">
  <ion-header-bar class="food-content-header">
    <div class="buttons">
      <button class="button button-clear back-button" ng-click="goBack()">Back</button>
    </div>
    <h1 class="title">{{product.name}}</h1>
    <div class="buttons">
      <button class="button button-clear share-button">Share</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-slide-box class="product-images-slider" show-pager="false">
      <ion-slide>
        <div class="image-container" multi-bg="[product.pictures[0]]">
          <!-- <div class="product-illustration-container">
            <img class="product-illustration" ng-src="./img/sample-images/travel/TravelIcon1.png"/>
          </div> -->
        </div>
      </ion-slide>
      <ion-slide ng-repeat="product_image in product.pictures.slice(1) track by $index">
        <div class="image-container" multi-bg="[product_image]"></div>
      </ion-slide>
    </ion-slide-box>
    <div class="row brief-info-row">
      <div class="col col-80">
        <h3 class="product-name">{{product.name}}</h3>
        <h5 class="product-style">Homemade style</h5>
      </div>
      <div class="col col-20">
        <span class="product-price-range" ng-repeat="price in [].constructor(product.price_range) track by $index">$</span>
      </div>
    </div>
    <div class="row rating-row">
      <div class="col rating-col">
        <span class="product-rating rating-{{ product.rating | floor }}">{{product.rating}}</span>
      </div>
      <div class="col rating-col">
        <i class="icon ion-ios-star-outline"></i>
        <span class="other-rating">4.2</span>
      </div>
      <div class="col rating-col">
        <i class="icon ion-ios-star-outline"></i>
        <span class="other-rating">4.4</span>
      </div>
      <div class="col rating-col">
        <i class="icon ion-ios-star-outline"></i>
        <span class="other-rating">3.8</span>
      </div>
      <div class="col rating-col">
        <i class="icon ion-ios-star-outline"></i>
        <span class="other-rating">8</span>
      </div>
    </div>
    <div class="row schedules-and-address-row">
      <div class="col">
        <button class="button button-block icon-right ion-chevron-right schedules-button" ng-class="{'with-value': product.selected_schedule.name}" ng-click="openSchedules()">
          <span class="button-title">Schedules</span>
          <span class="button-data" ng-if="product.selected_schedule.name">{{ product.selected_schedule.name }}</span>
        </button>
        <hr class="buttons-divider"/>
        <button class="button button-block icon-right ion-chevron-right addresses-button" ng-class="{'with-value': product.address}" ng-click="openAddresses()">
          <span class="button-title">Address</span>
          <span class="button-data" ng-if="product.address">{{product.address}}</span>
        </button>
      </div>
    </div>
    <div class="row address-map-row">
      <div class="col">
        <img class="map-image" ng-src="https://geoinfoindia.files.wordpress.com/2015/04/google-map.jpg"/>
      </div>
    </div>
    <div class="row tags-row">
      <div class="col product-tags-container">
        <span class="product-tag" ng-repeat="tag in product.tags">{{tag}}</span>
      </div>
    </div>
    <hr class="product-sections-divider"/>
    <h3 class="product-sub-title">User's photos</h3>
    <div class="row row-center images-row">
      <div class="col col-20 image-wrapper" ng-repeat="picture in product.pictures.slice(0, 5) track by $index">
        <pre-img ratio="_1_1">
          <img style="width:100%;" class="product-image" ng-src="{{ picture }}" spinner-on-load>
        </pre-img>
        <div class="has-more-images" ng-if="$index == 4 && product.pictures.length > 5">
          <span class="images-count">{{ product.pictures.length - 5 }}</span>
        </div>
      </div>
    </div>
    <div class="row upload-row">
      <div class="col">
        <button class="button button-block upload-photo-button" ng-click="uploadPhoto()">
          Upload a photo
        </button>
      </div>
    </div>
    <hr class="product-sections-divider"/>
    <h3 class="product-sub-title">Popular dishes</h3>
    <div class="row popular-dishes-row">
      <div class="col">
        <div class="row dish-row" ng-repeat="dish in product.dishes">
          <div class="col col-75">
            <h5 class="dish-name">{{ dish.name }}</h5>
            <progress-bar min="0" max="5" ng-model="dish.rating"></progress-bar>
          </div>
          <div class="col col-bottom dishes-rate-col">
            <i class="icon ion-ios-heart-outline"></i>
            <span class="dish-rate-value">{{ dish.rating }}</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
